.App, #root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  height: 400px;
  width: 500px;
}

#root {
  height: 100vh;
  width: 100vw;
}

.error {
  text-align: center;
  color: red;
  font-size: larger;
}

.form-group {
  margin: 10px;
  padding: 5px;
  text-align: center;
}

.form-label {
  margin: 5px;
}